<% layout('layouts/boilerplate') %>
<body>
    <div class="card" style="width: 18rem;">
        <h5 class="card-title"><%= list.title %></h5>
        <img class="card-img-top" src="<%= list.image.url %>" alt="Listin_image">
        <div class="card-body">
          <p class="card-text"><%= list.description %></p>
          <p class="card-text">&#8377; <%= (list.price).toLocaleString("en-IN") %></p>
          <p class="card-text"><%= list.location  %> ,<%= list.country %></p>
        </div>
    </div>

    <div class="row">
    <form method="get" action="/listing/<%=list._id %>/edit">
        <button class="btn btn-dark">Edit</button>
    </form>
    <form method="post" action="/listing/<%=list._id %>/delete?_method=delete">
        <button id="detailDel" class="btn btn-dark">Delete</button>
    </form>
    </div>
</body>
