<% layout('layouts/boilerplate') %>
<body>
<div class="row"></div>
    <div class="col-8 offset-2">
    <form method="post" action="/listing/<%= list._id %>?_method=PUT">
        
        <h3 id="createHead">Create new Listing</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Title : </label>
            <input name="title" class="form-control" value="<%= list.title %>" type="text">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description : </label>
            <textarea name="description" type="text" class="form-control"><%= list.description %></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL : </label>
            <input name="image" type="text" class="form-control" value="<%= list.image.url %>">
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price : </label>
        <input name = "price" type="number" class="form-control" value="<%= list.price %>">
    </div>
    
        <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input name = "location" type="text" value="<%= list.location %>" class="form-control">
    </div>
        <div class="mb-3">
        <label for="country" class="form-label">Country : </label>
        <input name = "country" type="text" class="form-control" value="<%= list.country %>">

    </div>
        <button class="btn btn-dark" style="background-color: tomato; border: none;">Edit</button>
    
    </form>
</div>
</div>
</body>