<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit listing</title>
</head>
<body>
    <form method="post" action="/listing/<%= list._id %>?_method=PUT" >
        <h2>Enter the title : </h2>
        <input name="title" type="text" value="<%= list.title %>">
        <br>
        <h2>Enter the description : </h2>
        <input name="description" type="text" value="<%= list.description %>">
        <br>
        <h2>Enter the Image url : </h2>
        <input name="image" type="text" value="<%= list.image.url %>">
        <br>
        <h2>Enter the Price : </h2>
        <input name = "price" type="number" value="<%= list.price %>">
        <br>
        <h2>Enter the location : </h2>
        <input name = "location" type="text" value="<%= list.location %>">
        <br>
        <h2>Enter the Country : </h2>
        <input name = "country" type="text" value="<%= list.country %>">
        <button>Edit</button>
    </form>
</body>
</html>